<div class="auth-wrapper d-flex no-block justify-content-center align-items-center" style="background:url(assets/images/background/loginbg.jpg) no-repeat center center;">
  <div class="auth-box m-3 m-md-0 box-css">
    <div id="loginformid1" [ngClass]="{'d-none': recoverform}">
      <div class="logo">
        <span class="db"><img src="assets/images/csp-light-logo.png" style="height:45px" alt="logo" /></span>
        <h5 class="font-medium m-b-20 text-light">Sign In to Admin</h5>
      </div>
      <!-- Form -->
      <div class="row">
        <div class="col-12">
          <form class="form-horizontal m-t-20" id="loginform">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="ti-user"></i></span>
              </div>
              <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon2"><i class="ti-pencil"></i></span>
              </div>
              <input type="text" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
            </div>
            <div class="form-group row">
              <div class="col-md-12">
                <div class="custom-control custom-checkbox d-flex">
                  <input type="checkbox" class="custom-control-input" id="customCheck1">
                  <label class="custom-control-label font-14 text-light" style="font-weight: unset" for="customCheck1">Remember me</label>
                  <a (click)="showRecoverForm()" href="javascript:void(0)" style="font-weight: unset" id="to-recover" class="text-light font-14 ml-auto"><i class="fa fa-lock m-r-5 text-light"></i> Forgot pwd?</a>
                </div>
              </div>
            </div>
            <div class="form-group text-center">
              <div class="col-xs-12 p-b-20">
                <a class="btn btn-block btn-lg btn-dark"  (click)="logIn()">Log In</a>
              </div>
            </div>
            <!-- <div class="row">
               <div class="col-xs-12 col-sm-12 col-md-12 m-t-10 text-center">
                 <div class="social">
                   <a href="javascript:void(0)" class="btn btn-facebook mr-2" data-toggle="tooltip" title="" data-original-title="Login with Facebook"> <i aria-hidden="true" class="fab fa-facebook"></i> </a>
                   <a href="javascript:void(0)" class="btn btn-googleplus" data-toggle="tooltip" title="" data-original-title="Login with Google"> <i aria-hidden="true" class="fab fa-google-plus"></i> </a>
                 </div>
               </div>
             </div>-->
            <!-- <div class="form-group m-b-0 m-t-10">
               <div class="col-sm-12 text-center text-light">
                 Don't have an account? <a href="authentication/signup" class="text-info m-l-5"><b>Sign Up</b></a>
               </div>
             </div>-->
          </form>
        </div>
      </div>
    </div>
    <div id="recoverform" [ngClass]="{'d-block': recoverform}">
      <div class="logo">
        <span class="db"><img src="assets/images/logo-icon.png" alt="logo" /></span>
        <h5 class="font-medium m-b-20">Recover Password</h5>
        <span>Enter your Email and instructions will be sent to you!</span>
      </div>
      <div class="row m-t-20">
        <!-- Form -->
        <form class="col-12">
          <!-- email -->
          <div class="form-group row">
            <div class="col-12">
              <input class="form-control form-control-lg" type="email" required="" placeholder="Username">
            </div>
          </div>
          <!-- pwd -->
          <div class="row m-t-20">
            <div class="col-12">
              <button class="btn btn-block btn-lg btn-danger" type="submit" name="action">Reset</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

