.box-css{
  border: 2px solid darkseagreen;
  margin-left: 46%!important;
  border-radius: 60px 10px;
  box-shadow: 0 0px 31px -6px powderblue;
  min-width: 350px;
  background: rgba(0,0,0,0.3);
}
.btn{
  background: border-box;
}
.btn:hover{
  background: black;
}
