
<div class="row" style="margin-top: 8%; width: 100%; margin-left: 0%">
  <div class="col-sm-12 col-lg-12 col-md-12">
    <div style="padding: 1%; background: lightgoldenrodyellow; border:1px solid lightgrey">
      <span><h4><b>MPS NAME</b></h4></span>
      <div class="text-right">
        <button class="btn btn-circle btn-lg btn-primary slob-btn"
                data-toggle="modal" data-target="#pmSlobModal">SLOB
        </button>
      </div>
      <div class="row" style="margin-top: -1%">
        <div class="col-sm-12 col-md-12 col-lg-12 tab-css">
          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist" style="border-bottom: 1px solid lightgrey">
              <a class="nav-item nav-link active  fontSizeTabs" id="nav-mps-tab" data-toggle="tab" href="#nav-mps"
                 role="tab" aria-controls="nav-mps" aria-selected="true">MPS</a>
              <a class="nav-item nav-link  fontSizeTabs" id="nav-logical-tab" data-toggle="tab" href="#nav-logical"
                 role="tab" aria-controls="nav-logical" aria-selected="false">Logical Consumption</a>
              <a class="nav-item nav-link  fontSizeTabs" id="nav-gross-tab" data-toggle="tab" href="#nav-gross"
                 role="tab" aria-controls="nav-gross" aria-selected="false">Gross Consumption</a>
              <a class="nav-item nav-link  fontSizeTabs" id="nav-stock-tab" data-toggle="tab" href="#nav-stock"
                 role="tab" aria-controls="nav-stock" aria-selected="false">Stocks</a>
              <a class="nav-item nav-link  fontSizeTabs" id="nav-supply-tab" data-toggle="tab" href="#nav-supply"
                 role="tab" aria-controls="nav-supply" aria-selected="false">Supply</a>
              <a class="nav-item nav-link  fontSizeTabs" id="nav-mould-tab" data-toggle="tab" href="#nav-mould"
                 role="tab" aria-controls="nav-mould" aria-selected="false">Mould Saturation</a>
            </div>
          </nav>
          <div class="card"
               style="border: 1px solid lightgrey; padding: 1%; border-top: none !important; margin-bottom:-1px; height: 472px">

            <div class="tab-content" id="nav-tabContent">
              <!--mps tab content-->
              <div class="tab-pane fade show active" id="nav-mps" role="tabpanel" aria-labelledby="nav-mps-tab">
                <app-mps></app-mps>
              </div>
              <!--logical consumption tab content-->
              <div class="tab-pane fade" id="nav-logical" role="tabpanel" aria-labelledby="nav-logical-tab">
                <div class="row">
                  <div class="col-sm-8" style="padding-right: 2px">
                    <div class="rlt-fg-card">
                      <h4 style="font-size: 16px; font-weight: 600">Finished Goods</h4>
                      <app-logical-consumption></app-logical-consumption>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="lft-relation-card">
                      <h4 style="font-size: 16px; font-weight: 600">Relation</h4>
                    </div>
                  </div>
                </div>
              </div>
              <!--gross consumption tab content-->
              <div class="tab-pane fade" id="nav-gross" role="tabpanel" aria-labelledby="nav-gross-tab">
                <app-gross-consumption></app-gross-consumption>
              </div>
              <!--stocks tab content-->
              <div class="tab-pane fade" id="nav-stock" role="tabpanel" aria-labelledby="nav-stock-tab">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="stocks-card">
                      <app-stocks></app-stocks>
                    </div>
                  </div>
                </div>
              </div>
              <!--supply tab content-->
              <div class="tab-pane fade" id="nav-supply" role="tabpanel" aria-labelledby="nav-supply-tab">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="supply-card">
                      <app-supply></app-supply>
                    </div>
                  </div>
                </div>
              </div>
              <!--mould saturation tab content-->
              <div class="tab-pane fade" id="nav-mould" role="tabpanel" aria-labelledby="nav-mould-tab">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="mould-saturation-card">
                      <app-mould-saturation></app-mould-saturation>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="pmSlobModal" tabindex="-1" role="dialog" aria-labelledby="pmSlobModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="pmSlobModalLabel">Execution Flow</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <!--<div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>-->
    </div>
  </div>
</div>


