* {
  font-family: Calibri;
}
.first-nav-pills .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: black;
  background-color: lightseagreen;
}

.inside-nav-pills .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: black;
  /* background-color:#d5911a;*/
  background-color: lightsteelblue;
}
.card-css {
  border: 1px solid lightgrey;
  background: lightgoldenrodyellow;
  /*  height: 512px;*/

}
.search-css {
  font-size: 14px;
  height: 29px;
  border: none;
  border-bottom: 1px solid grey;
  width: 14%;
  margin-left: 86%;
  margin-bottom: 3px;
  /* background: lightgoldenrodyellow;*/
}
.tab-content-css {
  background: lightsteelblue;
  padding: 1%;
  height: 462px;
}

.fontSizeTabs {
  font-weight: 500;
  font-size: 18px;
  padding-top: 4px;
  padding-bottom: 3px;
}

.tab-css.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  border-color: lightgrey lightgrey #fff;
}

.slob-btn {
  margin-top: -2%;
  padding: 14px 7px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.rlt-fg-card {
  border: 1px solid lightgrey;
  height: 445px;
  padding: 1%;
}

.lft-relation-card {
  border: 1px solid lightgrey;
  height: 445px;
  padding: 2%;
}

.gross-card {
  border: 1px solid lightgrey;
  height: 445px;
  padding: 1%;
}

.stocks-card {
  border: 1px solid lightgrey;
  height: 445px;
  padding: 1%;
}

.supply-card {
  border: 1px solid lightgrey;
  height: 445px;
  padding: 1%;
}

.mould-saturation-card {
  border: 1px solid lightgrey;
  height: 445px;
  padding: 1%;
}





