<!--rm code-->
<div class="row" style="margin-top: 8%">
  <div class="col-sm-12 col-lg-12 col-md-12">
    <div  style="padding: 1%; background: lightgoldenrodyellow; border:1px solid lightgrey">
      <span><h4><b>MPS NAME</b></h4></span>
      <div class="text-right">
        <button class="btn btn-lg btn-circle btn-primary slob-btn"
                data-toggle="modal" data-target="#rmSlobModal">SLOB</button>
      </div>
      <div class="row" style="margin-top: -1%">
        <div class="col-sm-12 col-md-12 col-lg-12 tab-css">
          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist"   style="border-bottom: 1px solid lightgrey">
              <a class="nav-item nav-link active  fontSizeTabs" id="nav-home-tab" data-toggle="tab" href="#nav-home"
                 role="tab" aria-controls="nav-home" aria-selected="true">MPS</a>
              <a class="nav-item nav-link  fontSizeTabs" id="nav-profile-tab" data-toggle="tab" href="#nav-profile"
                 role="tab" aria-controls="nav-profile" aria-selected="false">Logical Consumption</a>
              <a class="nav-item nav-link  fontSizeTabs" id="nav-contact-tab" data-toggle="tab" href="#nav-contact"
                 role="tab" aria-controls="nav-contact" aria-selected="false">Gross Consumption</a>

              <a class="nav-item nav-link  fontSizeTabs" id="nav-stock-tab" data-toggle="tab" href="#nav-stock"
                 role="tab" aria-controls="nav-stock" aria-selected="false">Stocks</a>
              <a class="nav-item nav-link  fontSizeTabs" id="nav-supply-tab" data-toggle="tab" href="#nav-supply"
                 role="tab" aria-controls="nav-supply" aria-selected="false">Supply</a>

            </div>
          </nav>
          <div class="card"
               style="border: 1px solid lightgrey; padding: 1%; border-top: none !important; margin-bottom:-1px; height: 472px">

            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <div class="row">
                  <div class="col-sm-12">
                    <!-- <form>
                       <input type="text"  class="form-control  search-css" placeholder="Search...">
                     </form>
                     <div class="pro-plan-scroll-table">
                       <table class="table table-bordered final-pro-plan-table">
                         <thead class="thead-light text-center">
                         <th>Code</th>
                         <th>Description</th>
                         <th>M1 Ideal</th>
                         <th>M1</th>
                         <th>M2</th>
                         <th>M3</th>
                         <th>M4</th>
                         <th>M5</th>
                         <th>M6</th>
                         <th>M7</th>
                         <th>M8</th>
                         <th>M9</th>
                         <th>M10</th>
                         <th>M11</th>
                         <th>M12</th>
                         <th>Total</th>
                         <th>Type</th>
                         <th>Line</th>
                         <th>Skid</th>
                         </thead>
                         <tbody class="text-center">
                         <tr *ngFor="let finalPro of finalProList">
                           <td>{{finalPro.itemCode}}</td>
                           <td>{{finalPro.itemDescription}}</td>
                           <td>{{finalPro.m1Idealvalue}}</td>
                           <td>{{finalPro.m1Value}}</td>
                           <td>{{finalPro.m2Value}}</td>
                           <td>{{finalPro.m3Value}}</td>
                           <td>{{finalPro.m4Value}}</td>
                           <td>{{finalPro.m5Value}}</td>
                           <td>{{finalPro.m6Value}}</td>
                           <td>{{finalPro.m7Value}}</td>
                           <td>{{finalPro.m8Value}}</td>
                           <td>{{finalPro.m9Value}}</td>
                           <td>{{finalPro.m10Value}}</td>
                           <td>{{finalPro.m11Value}}</td>
                           <td>{{finalPro.m12Value}}</td>
                           <td>{{finalPro.total}}</td>
                           <td>{{finalPro.productionType}}</td>
                           <td>{{finalPro.lineName}}</td>
                           <td>{{finalPro.skidName}}</td>
                         </tr>
                         </tbody>
                       </table>
                     </div>-->
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-12">
                    <nav>
                      <div class="nav nav-tabs" id="nav-rm-lc" role="tablist"   style="border-bottom: 1px solid lightgrey">
                        <a class="nav-item nav-link active  fontSizeTabs" id="nav-bulk-lc-tab" data-toggle="tab" href="#nav-bulklc"
                           role="tab" aria-controls="nav-bulklc" aria-selected="true">Bulk LC</a>
                        <a class="nav-item nav-link  fontSizeTabs" id="nav-bulk-gc-tab" data-toggle="tab" href="#nav-bulkgc"
                           role="tab" aria-controls="nav-bulkgc" aria-selected="false">Bulk GC</a>
                        <a class="nav-item nav-link  fontSizeTabs" id="nav-rm-lc-tab" data-toggle="tab" href="#nav-rmlc"
                           role="tab" aria-controls="nav-rmlc" aria-selected="false">RM LC</a>
                      </div>
                    </nav>
                    <div class="card"
                         style="border: 1px solid lightgrey; padding: 1%; border-top: none !important; margin-bottom:-1px; height: 409px">
                      <div class="tab-content" id="nav-rm-tabContent">
                        <div class="tab-pane fade show active" id="nav-bulklc" role="tabpanel" aria-labelledby="nav-bulk-lc-tab">
                          <div class="row">
                            <div class="col-sm-12">
                              <div class="row">
                                <div class="col-sm-8" style="padding-right: 2px">
                                  <div class="rlt-fg-card">
                                    <h4 style="font-size: 16px; font-weight: 600">Finished Goods</h4>
                                  </div>
                                </div>
                                <div class="col-sm-4">
                                  <div class="lft-relation-card">
                                    <h4 style="font-size: 16px; font-weight: 600">Relation</h4>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="tab-pane fade" id="nav-bulkgc" role="tabpanel" aria-labelledby="nav-bulk-gc-tab">
                          <div class="row">
                            <div class="col-sm-8" style="padding-right: 2px">
                              <div class="rlt-fg-card">
                                <h4 style="font-size: 16px; font-weight: 600">Finished Goods</h4>
                              </div>
                            </div>
                            <div class="col-sm-4">
                              <div class="lft-relation-card">
                                <h4 style="font-size: 16px; font-weight: 600">Relation</h4>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="tab-pane fade" id="nav-rmlc" role="tabpanel" aria-labelledby="nav-rm-lc-tab">
                          <div class="row">
                            <div class="col-sm-8" style="padding-right: 2px">
                              <div class="rlt-fg-card">
                                <h4 style="font-size: 16px; font-weight: 600">Finished Goods</h4>
                              </div>
                            </div>
                            <div class="col-sm-4">
                              <div class="lft-relation-card">
                                <h4 style="font-size: 16px; font-weight: 600">Relation</h4>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="gross-card">

                    </div>
                  </div>
                </div>
              </div>

              <div class="tab-pane fade" id="nav-stock" role="tabpanel" aria-labelledby="nav-stock-tab">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="stocks-card">

                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="nav-supply" role="tabpanel" aria-labelledby="nav-supply-tab">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="supply-card">

                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="rmSlobModal" tabindex="-1" role="dialog" aria-labelledby="rmSlobModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="rmSlobModalLabel">Execution Flow</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <!--<div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>-->
    </div>
  </div>
</div>

