*{
  font-family: Calibri;
}




.first-nav-pills .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: black;
  background-color: lightseagreen;
}

.inside-nav-pills .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: black;
  background-color:#d5911a;
}

.btn-css-total{
  background: white;
  width: 180px;
  padding-top: 9px;
  height: 35px;
  border: 1px solid lightgrey;
  text-align: center;
  line-height: 1;
}

.card-css{
  border: 1px solid lightgrey;

}

.connect-lines1{
  background: lightgray;
  margin-top: -42px;
  margin-left: 30%;
  width: 41%;
}

.final-pro-plan-table th, td{
  padding: 4px;
}



.diamond {
  position: relative;
  height: 200px;
  width: 200px;
  line-height: 200px;
  text-align: center;
  margin: 10px 40px;
}
.diamond:before {
  position: absolute;
  content: '';
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  transform: rotateX(45deg) rotateZ(45deg);
  box-shadow: 0px 0px 12px gray;
}
.diamond:after {
  position: absolute;
  top: 10px;
  left: 10px;
  content: '';
  height: calc(100% - 22px);  /* -22px is 2 * 10px gap on either side - 2px border on either side */
  width: calc(100% - 22px);  /* -22px is 2 * 10px gap on either side - 2px border on either side */
  border: 1px solid orange;
  transform: rotateX(45deg) rotateZ(45deg);
}

.verticle-line {
  border-left: 1px solid lightgrey;
  height: 192px;
  margin-left: 47%;
  margin-top: 20%;
}


.pulse2 {
  -webkit-animation: pulse 400ms infinite alternate;
  animation: pulse 400ms infinite alternate;
}
@-webkit-keyframes pulse {
  0% { background-color: lightseagreen; }
  100% { background-color: transparent; }
}
@keyframes pulse {
  0% { background-color: lightseagreen; }
  100% { background-color: transparent; }
}


.fontSizeTabs {
  font-weight: 500;
  font-size: 18px;
  padding-top: 4px;
  padding-bottom: 3px;
}

.tab-css.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  border-color: lightgrey lightgrey #fff;
}

.slob-btn{
  margin-top: -2%;
  padding: 14px 7px;
  width: 60px;
  height: 60px;
}

.rlt-fg-card{
  border:1px solid lightgrey;
  height: 383px;
  padding: 1%;
}
.lft-relation-card{
  border:1px solid lightgrey;
  height: 383px;
  padding: 2%;
}

.gross-card{
  border:1px solid lightgrey;
  height: 445px;
  padding: 1%;
}
.stocks-card{
  border:1px solid lightgrey;
  height: 445px;
  padding: 1%;
}
.supply-card{
  border:1px solid lightgrey;
  height: 445px;
  padding: 1%;
}

.lft-gross-card{
  border:1px solid lightgrey;
  height: 445px;
  padding: 2%;
}
