<div class="row" style="margin-top: -3%">
  <div class="col-sm-12">
    <form>
      <input type="text" class="form-control  logical-table-search-css"  placeholder="Search...">
    </form>
    <div class="logical-scroll-table">
      <div>
        <table class="table table-bordered logical-table-css">
          <tbody id="accordion" class="custom-accordion">
          <ng-container *ngFor="let logicalConsumption of logicalConsumptionDataList;let i=index">
            <tr class="'heading' + i hide-border"  [ngClass] = "{'highlight' : i == selectedName}">
              <td style="width: 20%">
                <button class="btn btn-link" style="margin-left:1%; padding: 0px; line-height: 1; height: 30px; cursor: pointer"
                   (click)="highlightRow(i)"
                   data-toggle="collapse"
                   [attr.data-target]="'#collapseItem' + i"
                   aria-expanded="true"
                   [attr.aria-controls]="'collapseItem' + i">
                  <i  style="font-size: 26px; color: slategray"
                      class="fa fa-caret-down"></i>
                </button>
                <b style="margin-left: 1%">{{logicalConsumption.rscMtItemParentCode}}</b>
              </td>
            </tr>
            <tr>
              <td  style="padding:0px!important; border:none!important;  background: lightgrey ">
                <div [attr.id]="'collapseItem' + i" class="collapse "
                     [attr.aria-labelledby]="'heading' + i"
                     data-parent="#accordion" >
                  <div style="padding:1%; background:lightgrey; width: 809px">
                    <div class="custom-table">
                      <table class="table logical-inside-table-css">
                        <thead class="thead-light text-center">
                        <tr>
                          <th>Code</th>
                          <th>Applicable From</th>
                          <th>Applicable To</th>
                          <th>{{formattedDateList[0]}}</th>
                          <th>{{formattedDateList[1]}}</th>
                          <th>{{formattedDateList[2]}}</th>
                          <th>{{formattedDateList[3]}}</th>
                          <th>{{formattedDateList[4]}}</th>
                          <th>{{formattedDateList[5]}}</th>
                          <th>{{formattedDateList[6]}}</th>
                          <th>{{formattedDateList[7]}}</th>
                          <th>{{formattedDateList[8]}}</th>
                          <th>{{formattedDateList[9]}}</th>
                          <th>{{formattedDateList[10]}}</th>
                          <th>{{formattedDateList[11]}}</th>
                        </tr>
                        </thead>
                        <tbody class="text-center">
                        <tr *ngFor="let pmLogicalConsumption of logicalConsumption.pmLogicalConsumptionDTO">
                          <td>{{pmLogicalConsumption.rscMtItemChildCode}}</td>
                          <td>{{pmLogicalConsumption.applicableFrom}}</td>
                          <td>{{pmLogicalConsumption.applicableTo}}</td>
                          <td><div title="{{pmLogicalConsumption.m1Value}}" class="wordWrapTableCell">{{pmLogicalConsumption.m1Value}}</div></td>
                          <td><div title="{{pmLogicalConsumption.m2Value}}" class="wordWrapTableCell">{{pmLogicalConsumption.m2Value}}</div></td>
                          <td><div title="{{pmLogicalConsumption.m3Value}}" class="wordWrapTableCell">{{pmLogicalConsumption.m3Value}}</div></td>
                          <td><div title="{{pmLogicalConsumption.m4Value}}" class="wordWrapTableCell">{{pmLogicalConsumption.m4Value}}</div></td>
                          <td><div title="{{pmLogicalConsumption.m5Value}}" class="wordWrapTableCell">{{pmLogicalConsumption.m5Value}}</div></td>
                          <td><div title="{{pmLogicalConsumption.m6Value}}" class="wordWrapTableCell">{{pmLogicalConsumption.m6Value}}</div></td>
                          <td><div title="{{pmLogicalConsumption.m7Value}}" class="wordWrapTableCell">{{pmLogicalConsumption.m7Value}}</div></td>
                          <td><div title="{{pmLogicalConsumption.m8Value}}" class="wordWrapTableCell">{{pmLogicalConsumption.m8Value}}</div></td>
                          <td><div title="{{pmLogicalConsumption.m9Value}}" class="wordWrapTableCell">{{pmLogicalConsumption.m9Value}}</div></td>
                          <td><div title="{{pmLogicalConsumption.m10Value}}" class="wordWrapTableCell">{{pmLogicalConsumption.m10Value}}</div></td>
                          <td><div title="{{pmLogicalConsumption.m11Value}}" class="wordWrapTableCell">{{pmLogicalConsumption.m11Value}}</div></td>
                          <td><div title="{{pmLogicalConsumption.m12Value}}" class="wordWrapTableCell">{{pmLogicalConsumption.m12Value}}</div></td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
