.logical-scroll-table{
  border: 1px solid lightgrey;
  height: 391px;
  overflow: auto;
  background: white;
}
.logical-inside-table-css th, td{
  padding: 4px;
}

.logical-inside-table-css th {
  font-size: 14px;
  /*font-weight: bold;*/
  border: 1px solid lightgrey;
}
.logical-inside-table-css td {
  font-size: 12px;

}

.logical-inside-table-css{
  width: 125%;
}


.logical-table-css .hide-border td {
  /*border: none;*/
  border: 1px solid lightgrey;
  border-bottom: none !important;
  font-size: 14px;
}

.logical-table-css th,td{
  padding: 3px;
}


.highlight{
  background: lightgrey;
  border:none!important;
  font-weight: bold;
  font-size: 18px;
}
.wordWrapTableCell{
  cursor: pointer;
  white-space: nowrap;
  width: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.logical-table-search-css{
  font-size: 14px;
  height: 30px;
  border: none;
  border-bottom: 1px solid grey;
  width: 19%;
  margin-left: 81%;
  margin-bottom: 3px;
}

.custom-table {
  /* border-left: none !important;
  */
  border: 1px solid darkgray;
  height: 240px;
  overflow: auto;
  margin-bottom: 0%;
  box-shadow: none !important;
  margin-top: 0%;
  /* margin-right: 37%;*/
  background-color: white
}
