<div class="container-fluid" style="padding-bottom: 1px" xmlns="http://www.w3.org/1999/html">
  <div class="card master-crd">
    <div class="card-header" style="background: lightgoldenrodyellow">
      <div class="card-title"><strong style="font-size: 22px">Masters</strong></div>
    </div>

    <div class="row" style="width: 100%; margin-left: 0%; margin-top: 15px">
      <div class="col-sm-12">
        <div class="btn-card">

          <div class="row">
            <div class="col-sm-3 btn-group" *ngFor="let master of mastersList;let i=index">
              <!--routerLink='{{master[1]}}'-->
              <button
                data-target='#masterModal'
                data-toggle="modal"
                class="btn btn-md buttons btn-css selectedBackgroundColor buttonm"
                (click)="loadMasterData(master[0],master[1])"
              >
                {{master[0]}}
              </button>

            </div>
          </div>

        </div>

      </div>
    </div>
  </div>

</div>
<div id="masterModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="vcenter" aria-hidden="true"
     data-backdrop="static">
  <!--<router-outlet></router-outlet>-->
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content" style="width: 40%; margin-left: 35%">
      <div class="modal-header" style="padding-bottom: 1%; background: lightgoldenrodyellow">
        <label style="font-size: 22px">{{currentMasterName}}</label>
        <h4 style="cursor: pointer; font-size: 24px" data-dismiss="modal" class="pull-right">x</h4>
      </div>
      <div class="modal-body" style="margin-left: -5%; margin-right: -5%; margin-bottom: -9%">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
