<mat-form-field class="search-css">
  <input matInput placeholder="Search"
         (keyup)="applyFilter($event.target.value)">
</mat-form-field>

<div class="mat-elevation-z8 custom-table-height">

  <table mat-table [dataSource]="dataSource" width="100%">
    <ng-container matColumnDef="mould">
      <th mat-header-cell *matHeaderCellDef>Mould</th>
      <td mat-cell *matCellDef="let row">{{row.mould}}</td>
    </ng-container>

    <ng-container matColumnDef="child_mould">
      <th mat-header-cell *matHeaderCellDef>Child Mould</th>
      <td mat-cell *matCellDef="let row">{{row.child_mould}}</td>
    </ng-container>

    <ng-container matColumnDef="no_of_cavities">
      <th mat-header-cell *matHeaderCellDef>No Of Cavities</th>
      <td mat-cell *matCellDef="let row">{{row.no_of_cavities}}</td>
    </ng-container>

    <ng-container matColumnDef="per_cavity">
      <th mat-header-cell *matHeaderCellDef>Per Cavity</th>
      <td mat-cell *matCellDef="let row">{{row.per_cavity}}</td>
    </ng-container>

    <ng-container matColumnDef="total_capacity">
      <th mat-header-cell *matHeaderCellDef>Total Capacity</th>
      <td mat-cell *matCellDef="let row">{{row.total_capacity}}</td>
    </ng-container>

    <ng-container matColumnDef="active">
      <th mat-header-cell *matHeaderCellDef>Active</th>
      <td mat-cell *matCellDef="let row">{{row.active}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns" style="height: 33px"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;let i=index"
        style="cursor: pointer; height: 33px">
    </tr>
  </table>
</div>

