.pm-scroll-table {
  border: 1px solid lightgrey;
  height: 413px;
  overflow: auto;
  background: white;
}

.pm-table th, td {
  padding: 4px;
  border: 1px solid lightgrey;
}

.pm-table th {
  font-size: 14px;
  font-weight: bold;
}

.pm-table td {
  font-size: 12px;
}

.search-css {
  font-size: 14px;
  height: 29px;
  border: none;
  border-bottom: 1px solid grey;
  width: 14%;
  margin-left: 86%;
  margin-bottom: 3px;
  /* background: lightgoldenrodyellow;*/
}
.wordWrapTableCell{
  cursor: pointer;
  white-space: nowrap;
  width: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
}
