<div class="row">
  <div class="col-sm-12">
    <form>
      <input type="text" class="form-control  search-css" placeholder="Search...">
    </form>
    <div class="pm-scroll-table">
      <table class="table table-bordered pm-table">
        <thead class="thead-light text-center">
        <tr>
        <th>Item Code</th>
        <th>{{formattedDateList[0]}}</th>
        <th>{{formattedDateList[1]}}</th>
        <th>{{formattedDateList[2]}}</th>
        <th>{{formattedDateList[3]}}</th>
        <th>{{formattedDateList[4]}}</th>
        <th>{{formattedDateList[5]}}</th>
        <th>{{formattedDateList[6]}}</th>
        <th>{{formattedDateList[7]}}</th>
        <th>{{formattedDateList[8]}}</th>
        <th>{{formattedDateList[9]}}</th>
        <th>{{formattedDateList[10]}}</th>
        <th>{{formattedDateList[11]}}</th>
        </tr>
        </thead>
        <tbody class="text-center">
        <tr *ngFor="let grossConsumption of grossConsumptionDataList">
          <td>{{grossConsumption.pmItemCode}}</td>
          <td>
            <div title="{{grossConsumption.m1TotalValue}}" class="wordWrapTableCell">{{grossConsumption.m1TotalValue}}
            </div>
          </td>
          <td>
            <div title="{{grossConsumption.m2TotalValue}}" class="wordWrapTableCell">{{grossConsumption.m2TotalValue}}
            </div>
          </td>
          <td>
            <div title="{{grossConsumption.m3TotalValue}}" class="wordWrapTableCell">{{grossConsumption.m3TotalValue}}
            </div>
          </td>
          <td>
            <div title="{{grossConsumption.m4TotalValue}}" class="wordWrapTableCell">{{grossConsumption.m4TotalValue}}
            </div>
          </td>
          <td>
            <div title="{{grossConsumption.m5TotalValue}}" class="wordWrapTableCell">{{grossConsumption.m5TotalValue}}
            </div>
          </td>
          <td>
            <div title="{{grossConsumption.m6TotalValue}}" class="wordWrapTableCell">{{grossConsumption.m6TotalValue}}
            </div>
          </td>
          <td>
            <div title="{{grossConsumption.m7TotalValue}}" class="wordWrapTableCell">{{grossConsumption.m7TotalValue}}
            </div>
          </td>
          <td>
            <div title="{{grossConsumption.m8TotalValue}}" class="wordWrapTableCell">{{grossConsumption.m8TotalValue}}
            </div>
          </td>
          <td>
            <div title="{{grossConsumption.m9TotalValue}}" class="wordWrapTableCell">{{grossConsumption.m9TotalValue}}
            </div>
          </td>
          <td>
            <div title="{{grossConsumption.m10TotalValue}}" class="wordWrapTableCell">
              {{grossConsumption.m10TotalValue}}
            </div>
          </td>
          <td>
            <div title="{{grossConsumption.m11TotalValue}}" class="wordWrapTableCell">
              {{grossConsumption.m11TotalValue}}
            </div>
          </td>
          <td>
            <div title="{{grossConsumption.m12TotalValue}}" class="wordWrapTableCell">
              {{grossConsumption.m12TotalValue}}
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
