*{
  font-family: Calibri;
}


.highlight{
  background: lightgrey;
  border:none!important;
}

.labelTypeMasterTable .hide-border td {
  /*border: none;*/
  border: 1px solid lightgrey;
  border-bottom: none !important;
  font-size: 14px;
}

.labelTypeMasterTable th,td{
  padding: 3px;
}


.first-nav-pills .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: black;
  background-color: lightseagreen;
}

.sec-nav-pills .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: black;
  background-color:#d5911a;
}

.btn-css-total{
  background: white;
  width: 180px;
  padding-top: 9px;
  height: 35px;
  border: 1px solid lightgrey;
  text-align: center;
}

.btn-css-total2{
  border-radius: 15%;
  background: white;
  width: 180px;
  padding-top: 9px;
  height: 35px;
  border: 1px solid lightgrey;
  text-align: center;
}
.card-css{
  border: 1px solid lightgrey;

}

.connect-lines{
  background: lightgray;
  margin-top: -42px;
  margin-left: 22%;
  width: 45%;
}

.connect-lines1{
  background: lightgray;
  margin-top: -42px;
  margin-left: 30%;
  width: 41%;
}


.pointer {
  margin-top: 2%;
  margin-left: 20%;
  width: 200px;
  height: 40px;
  position: relative;
  background: red;
}
.pointer:after {
  content: "";
  position: absolute;
  left: -20px;
  bottom: 0;
  width: 0;
  height: 0;
  border-right: 20px solid red;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}
.pointer:before {
  content: "";
  position: absolute;
  right: -20px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid red;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}


.lg-btn-style{
  width: 250px;
  height: 75px;
  font-size: 36px;
  background: linear-gradient(to right,
  grey 0%,
  #00bdda 100%);
}



