<!-- ============================================================== -->
<!-- Start Page Content -->
<div class="row" style="margin-top: 18%; width: 100%; margin-left: 0%">
  <div class="col-sm-12">
    <div style="border:5px solid lightgrey; padding: 4%; background: white">
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-4 text-center">
          <button class="btn btn-lg btn-info lg-btn-style" (click)="pmPage()">PM</button>
        </div>
        <div class="col-sm-4 text-center">
          <button class="btn btn-lg btn-info lg-btn-style" (click)="rmPage()">BULK & RM</button>
        </div>
        <div class="col-sm-2"></div>
      </div>
      <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4 text-center">
          <button class="btn btn-lg btn-info lg-btn-style" (click)="navigateToMaster()">Masters</button>
        </div>
        <div class="col-sm-4"></div>
      </div>
    </div>
  </div>
</div>
