<div class="row">
  <div class="col-sm-12">
    <form>
      <input type="text" class="form-control  search-css" placeholder="Search...">
    </form>
    <div class="pm-scroll-table">
      <table class="table table-bordered pm-table">
        <thead class="thead-light text-center">
        <tr>
        <th>Code</th>
        <th>Ideal Value</th>
        <th>{{formattedDateList[0]}}</th>
        <th>{{formattedDateList[1]}}</th>
        <th>{{formattedDateList[2]}}</th>
        <th>{{formattedDateList[3]}}</th>
        <th>{{formattedDateList[4]}}</th>
        <th>{{formattedDateList[5]}}</th>
        <th>{{formattedDateList[6]}}</th>
        <th>{{formattedDateList[7]}}</th>
        <th>{{formattedDateList[8]}}</th>
        <th>{{formattedDateList[9]}}</th>
        <th>{{formattedDateList[10]}}</th>
        <th>{{formattedDateList[11]}}</th>
        <th>Total</th>
        </tr>
        </thead>
        <tbody class="text-center">
        <tr *ngFor="let mpsData of mpsDataList">
          <td>{{mpsData.itemCode}}</td>
          <td>{{mpsData.m1Idealvalue}}</td>
          <td>{{mpsData.m1Value}}</td>
          <td>{{mpsData.m2Value}}</td>
          <td>{{mpsData.m3Value}}</td>
          <td>{{mpsData.m4Value}}</td>
          <td>{{mpsData.m5Value}}</td>
          <td>{{mpsData.m6Value}}</td>
          <td>{{mpsData.m7Value}}</td>
          <td>{{mpsData.m8Value}}</td>
          <td>{{mpsData.m9Value}}</td>
          <td>{{mpsData.m10Value}}</td>
          <td>{{mpsData.m11Value}}</td>
          <td>{{mpsData.m12Value}}</td>
          <td>{{mpsData.total}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
